*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  font-weight: normal;
  font-family: 'Bree Serif', serif;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  #app {
    display: block;
    grid-template-columns: 1fr 1fr;
  }
}
